{% extends 'base.html' %}
{% load static %}

{% block title %}
<style>
#personal_data_table thead th,
#personal_data_table tbody td
{
    text-align: center;
}
</style>
<title>Dashboard</title>
{% endblock %}

{% block sidebar_user %}
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="{% static 'resources/img/user.png' %}" class="img-circle elevation-2" alt="User Image">
    </div>

    <div class="info">
        <a href="#" class="d-block">{{ request.user.first_name }} {{ request.user.last_name }}</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">201 Files</h1>
            </div>
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div> -->
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid py-2">
        <table class="table table-bordered table-striped" id="personal_data_table">
            <thead>
                <tr>
                    <th>Date Uploaded</th>
                    <th>Filename</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        var table = $('#personal_data_table').DataTable();
    })
</script>
{% endblock %}