{% extends 'base.html' %}
{% load static %}
{% load custom_tags_to %}

{% block title %}
<style>
#to_table thead th,
#to_table tbody td
{
    text-align: center;
}
</style>
<title>TO</title>
{% endblock %}

{% block sidebar_user %}
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="{% static 'resources/img/user.png' %}" class="img-circle elevation-2" alt="User Image">
    </div>

    <div class="info">
        <a href="#" class="d-block">{{ request.user.first_name }} {{ request.user.last_name }}</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Travel Orders</h1>
            </div>
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div> -->
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid py-2">
        {% if request.user|user_group == "admin" %}
        <div class="col-md-12 mb-3">
            <a href="{% url 'new-to' %}" class="btn btn-info"><i class="fa fa-plus"></i> Insert new TO</a>
        </div>
        {% endif %}

        <div class="col-md-12">
            <table class="table table-striped table-bordered" id="to_table">
                <thead>
                    <tr>
                        <th>TO No.</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Division/Section</th>
                        <th>Official Station</th>
                        <th>Date Created</th>
                        <th>Travel Dates</th>
                        <th>Destination</th>
                        <th>Purpose</th>
                    </tr>
                </thead>
                <tbody>
                    {% for to in tos %}
                    <tr>
                        <td>
                            <a href="{{ to.to_scan_copy.url }}" target="_blank">
                                {{ to.to_number }}
                            </a>
                        </td>
                        <td>{{ to | get_personnel_info:"name" }}</td>
                        <td>{{ to | get_personnel_info:"position" }}</td>
                        <td>{{ to | get_personnel_info:"division" }}</td>
                        <td>{{ to | get_personnel_info:"station" }}</td>
                        <td>{{ to.to_date }}</td>
                        <td>{{ to | travel_date }}</td>
                        <td>{{ to.to_destination }}</td>
                        <td>{{ to.to_purpose }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#to_table').DataTable()
    })

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}