{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
<style>
.multiselect-container {
    width: 100% !important;
}
</style>
<title>Insert new TO</title>
{% endblock %}

{% block sidebar_user %}
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="{% static 'resources/img/user.png' %}" class="img-circle elevation-2" alt="User Image">
    </div>

    <div class="info">
        <a href="#" class="d-block">{{ request.user.first_name }} {{ request.user.last_name }}</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Travel Orders</h1>
            </div>
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div> -->
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid py-2">
        <form action="{% url 'new-to' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ to_form.to_number | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ to_form.personnel | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ to_form.position | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ to_form.division | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ to_form.station | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ to_form.to_date | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ to_form.to_departure | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ to_form.to_arrival | as_crispy_field }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {{ to_form.to_destination | as_crispy_field }}
                    </div>
                    
                    <div class="form-group">
                        {{ to_form.to_purpose | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ to_form.to_scan_copy | as_crispy_field }}
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
            <button type="reset" class="btn btn-warning"><i class="fa fa-times"></i> Cancel</button>

        </form>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#id_personnel').on('change', function() {
            let id = $('#id_personnel').val();

            $.ajax({
                type: "GET",
                url: "{% url 'personnel-data' %}?id=" + id +"",
                success: function(response) {
                    $('#id_division').val(response.personnel_division.division);
                    $('#id_position').val(response.personnel_position);
                    $('#id_station').val(response.personnel_station);
                }
            });
        });
    })
</script>
{% endblock %}