{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
<title>New Employee</title>
{% endblock %}

{% block sidebar_user %}
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="{% static 'resources/img/user.png' %}" class="img-circle elevation-2" alt="User Image">
    </div>

    <div class="info">
        <a href="#" class="d-block">{{ request.user.first_name }} {{ request.user.last_name }}</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Add new employee</h1>
            </div>
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div> -->
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid py-2">
        <form action="{% url 'add-employee' %}">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ personnel_form.id_number | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ personnel_form.first_name | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ personnel_form.middlename | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ personnel_form.last_name | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ personnel_form.suffix | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ personnel_form.groups | as_crispy_field }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        {{ personnel_form.division | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ personnel_form.section | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ personnel_form.position | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ personnel_form.designation | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ personnel_form.official_station | as_crispy_field }}
                    </div>

                    <div class="form-group">
                        {{ personnel_form.signatory | as_crispy_field }}
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
            <button type="reset" class="btn btn-warning"><i class="fa fa-times"></i> Cancel</button>

        </form>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
    })
</script>
{% endblock %}